{
  "presets": ["react-app"],
  "plugins": [
    [
      "import",
      [
        {
          "libraryName": "antd"
        },
        {
          "libraryName": "antd-mobile"
        }
      ]
    ]
  ]
}
